body{
    background-color:#93cc76;
}

.rounded {
    border-radius: 0px 0px 10px 10px;
}

.white-button, white-button:disabled{
    background: white;
    color: #faa21d;
    border: 1px solid #faa21d;
}

.white-button:hover{
    background: #f7f7f7;
    color: #808080;
}
