<div class="top-bar sticky">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><!--eventBit test harness--><img src="images/TopBarBanner.png" /></li>
            <!--<li>
                <a href="#">One</a>
                <ul class="menu vertical">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>-->
        </ul>
    </div>
    <!--<div class="top-bar-right">
        <ul class="menu">
            <li></li>
        </ul>
    </div>-->
</div>
<div class="row pull-rounded" style="background-color:#ffffff;">    
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns text-right">
                Welcome, {{loggedUser.FirstName}}!
            </div>
        </div>   
        <!--<div class="row">
            <div class="large-12 columns">
                <h1>eventBit test harness</h1>
            </div>
        </div>-->     
        <div class="row">
            <div class="large-12 columns">
                A show code is required for all actions.
            </div>
        </div>     
        <div class="row">
            <div class="large-12 columns">
                <label class="field-label">Show Code<input [(ngModel)]="showCode" type="text" placeholder="INF999" /></label>
            </div>
        </div>
        <h2>Incremental Entity Feeds</h2>
        <p>Please be aware, some entities make take some time to sync the first time. (i.e. Person)</p>

        <div [hidden]="!loading"><h3>Loading... <i class="fa fa-spinner fa-spin fa-fw"></i></h3></div>
        <div [hidden]="loading">
            <div class="row">
                <div class="large-12 columns">
                    <label class="field-label">
                        Entity
                        <select [(ngModel)]="entSync">
                            <option value="">--- Please Select ---</option>
                            <option *ngFor="let e of ent" value="{{e}}">{{e}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <button [disabled]="saving" (click)="syncEntities()" type="button" class="button expanded">Sync Entity <span [hidden]="!saving"><i class="fa fa-spinner fa-spin fa-fw"></i></span></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label class="field-label">Sync Log
                    <textarea class="copyArea" readonly rows="20" [(ngModel)]="taText"></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns"><button [disabled]="!taText" (click)="clearLog()" class="button secondary expanded round">Clear</button></div>
            <!--<div class="large-6 columns"><button class="button secondary expanded">Copy</button></div>-->
        </div>
        <h2>Tracked Dump Snapshots</h2>
        <div class="row">
            <div class="large-12 columns">
                <button [disabled]="snapshotSaving" (click)="pullSnapShot()" class="button expanded">Get New Snapshot <span [hidden]="!snapshotSaving"><i class="fa fa-spinner fa-spin fa-fw"></i></span></button>
            </div>
        </div>
    </div>
</div>


