<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">eventBit test harness<!--<img width="50px" src="images/logo.png" />--></li>
            <!--<li>
                <a href="#">One</a>
                <ul class="menu vertical">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>-->
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>Welcome, {{loggedUser.FirstName}}!</li>
        </ul>
    </div>
</div>
<div class="row rounded" style="background-color:#ffffff;height:500px">
    <div class="large-12 columns">
        <h1>eventBit test harness</h1>
        <div class="row">
            <div class="large-12 columns">
                <select [(ngModel)]="entSync">
                    <option value="">--- Please Select ---</option>
                    <option *ngFor="let e of ent" value="{{e}}">{{e}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button (click)="syncEntities()" type="button" class="button expanded">Sync Entity <span [hidden]="saving">Test</span></button>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button (click)="pullSnapShot()" class="button">Get New Snapshot</button>
            </div>
        </div>
    </div>
</div>


