<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">eventBit test harness<!--<img width="50px" src="images/logo.png" />--></li>
            <!--<li>
                <a href="#">One</a>
                <ul class="menu vertical">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>-->
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>Welcome, {{loggedUser.FirstName}}!</li>
        </ul>
    </div>
</div>
<div class="row rounded" style="background-color:#ffffff;height:500px">    
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns">
                <label>Show Code<input [(ngModel)]="showCode" type="text" placeholder="INF999" /></label>
            </div>
        </div>
        <h2>Incremental Entity Feeds</h2>
        <p>Please be aware, some entities make take some time to sync the first time. (i.e. Person)</p>

        <div class="row">
            <div class="large-12 columns">
                <label>Entity
                    <select [(ngModel)]="entSync">
                        <option value="">--- Please Select ---</option>
                        <option *ngFor="let e of ent" value="{{e}}">{{e}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button [disabled]="saving" (click)="syncEntities()" type="button" class="button expanded">Sync Entity <span [hidden]="!saving"><i class="fa fa-spinner fa-spin fa-fw"></i></span></button>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
               <h2></h2>
            </div>
        </div>
        <h2>Tracked Dump Snapshots</h2>
        <div class="row">
            <div class="large-12 columns">
                <button [disabled]="snapshotSaving" (click)="pullSnapShot()" class="button expanded">Get New Snapshot <span [hidden]="!snapshotSaving"><i class="fa fa-spinner fa-spin fa-fw"></i></span></button>
            </div>
        </div>
    </div>
</div>


